border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
html
  font-size:54px
body
  font: 16px/1.5 "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun
  -webkit-text-size-adjust: none
  min-width: 320px
  max-width: 750px
  margin: auto
  font-size:12px;
*
  margin:0
  padding:0
ul,ol
  list-style:none
.content
  color: #666;
  margin-bottom: 80px
  .hd
    img
      width:70%
      margin:15px 15%
  .cd
    text-align:center
    padding-bottom: .4rem
    .choice
      width:7.5rem;
      padding-bottom:0.4rem
      margin: 0 auto
      font-size: 12px
      p
        line-height:24px
      .tab
        margin-bottom:5px
        ul 
          li
            width: 2.3rem
            float: left
            height: .7rem
            color: #666
            font-size: 14px
          .active
            color: #0caffe
      .tablist
        text-align:left
        #cont_tab_1
          display:block
        clear:both
    .split
      width: 10rem
      height: 1px
      border: none
      background-color: #eaeaea
      margin-bottom: 15px
    .features
      text-align: center;
      font-size: 12px;
      margin-bottom: 15px
      p
        height: .5rem;
        line-height: .5rem
      p.tit
        font-size: 14px;
        color: #ff7843;
        margin-bottom: 5px
      img
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: .35rem
      .feature-service,.feature-choice,.feature-property,.feature-safe
        padding-top: .45rem;
        padding-bottom: .45rem;
        height: 4rem;
        width: 49%;
        margin: 0 .5%;
        float: left
  .logo-history-wrap
    text-align: center;
    padding-bottom: .45rem
    p
      line-height: .5rem;
      text-align: left;
      margin-bottom: .33rem
    .logo-history
      font-size: 12px;
      margin: 0 auto;
      width: 8rem;
      text-align: left;
      padding-top: .45rem;
      padding-bottom: .45rem
  span.label
    ine-height:.5rem
    height:.5rem
    font-size:14px
    color:#414141
  hr.label
    display:inline-block
    width:.7rem
    line-height:1px
    height:1px
    border:none
    border-top:1px solid #eaeaea